[submodule "helpers"]
	path = helpers
	url = https://github.com/johanneskastl/helpers.git
[submodule "ansible/roles/b1-systems-ansible-role-suseconnect"]
	path = ansible/roles/b1-systems-ansible-role-suseconnect
	url = https://github.com/johanneskastl/ansible-role-suseconnect.git
[submodule "ansible/roles/johanneskastl.reboot"]
	path = ansible/roles/johanneskastl.reboot
	url = https://github.com/johanneskastl/ansible-role-reboot.git
[submodule "ansible/roles/johanneskastl.add_screenrc"]
	path = ansible/roles/johanneskastl.add_screenrc
	url = https://github.com/johanneskastl/ansible-role-add_screenrc.git
