[submodule "helpers"]
	path = helpers
	url = https://github.com/johanneskastl/helpers.git
[submodule "ansible/roles/reboot"]
	path = ansible/roles/reboot
	url = https://github.com/johanneskastl/ansible-role-reboot.git
[submodule "ansible/roles/zypper_ref_accept_keys"]
	path = ansible/roles/zypper_ref_accept_keys
	url = https://github.com/johanneskastl/ansible-role-zypper_ref_accept_keys.git
[submodule "ansible/roles/prometheus_node_exporter"]
	path = ansible/roles/prometheus_node_exporter
	url = https://github.com/johanneskastl/ansible-role-prometheus_node_exporter.git
[submodule "ansible/roles/prometheus_server"]
	path = ansible/roles/prometheus_server
	url = https://github.com/johanneskastl/ansible-role-prometheus_server.git
[submodule "ansible/roles/b1-systems-ansible-role-suseconnect"]
	path = ansible/roles/b1-systems-ansible-role-suseconnect
	url = https://github.com/johanneskastl/ansible-role-suseconnect.git
[submodule "ansible/roles/johanneskastl.reboot"]
	path = ansible/roles/johanneskastl.reboot
	url = https://github.com/johanneskastl/ansible-role-reboot.git
